#box-section{
    /* border: 1px solid red; */
    width: 100%;
    height: 150px;
}
#two-boxes{
    /* border: 1px solid black;     */
    /* width: 1140px; */
    width: inherit;
    margin: auto;
    height: inherit;
    display: flex;
    position: relative;
}
.box1{
    /* border: 2px solid green; */
    padding: 0%;
    height: inherit;
    width: 55%;
}
.box2{
    /* border: 2px solid blue; */
    padding: 0%;
    height: inherit;
    width: 45%;
}

.box1-container{
    /* border: 3px solid; */
    height: 180%;
    width: 54%;
    /* display: none; */
    /* margin-left: 7px; */
    border-radius: 40px;
    position: absolute;
    bottom: 0%;
    background-color: #0058e6;
}
.box2-container{
    /* border: 3px solid; */
    height: 180%;
    width: 44%;
    /* display: none; */
    margin-left: 1%;
    border-radius: 40px;
    position: absolute;
    bottom: 0%;
    background-color: white;
}
.box1-container div{
    /* border: 1px solid khaki; */
    /* margin: auto; */
    /* margin: 10%; */
    color: white;
    /* line-height:0.1; */
}
#box1-h2{
    /* border: 1px solid orange; */
    height: 25%;
    align-items: flex-start;    
    font-family: sans-serif;
    padding: 4%
}
#box1-p{
    height: 50%;
    width: 100%;
    /* line-height: 10%; */
    line-height: 170%;
    font-family: sans-serif;
    letter-spacing: 0.3px;
    padding: 5%;
}
#box1-btns{
    height: 25%;
    display: flex;
    padding: 1%;
    justify-content: space-evenly;
}
#box1email{
    height: 90%;
    width: 55%;
    border-radius: 50px;
    background: transparent;
    padding: 5px 0px 5px 15px;
    border: 0.8px solid lightslategray;
    color: white;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: large;
}

#box1request{
    height: 90%;
    width: 35%;
    border-radius: 50px;
    cursor: pointer;
    color: #9953FF;
    font-weight: bold;
    font-size:medium;
    border: 1px solid white;
}
#box1request:hover{
    border: none;
    color: black;
}

.box2-inner-container{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    /* height: inherit; */
    top: -10%!important;
    /* margin: 6% 8% 0% 11%; */
    display: flex;
}
.box2-a{
    /* border: 2px solid green; */
    width: 45%;
    padding-left: 7%;
    height: inherit;
    line-height: inherit;
    line-height:275%;
}
.box2a-ulist{
    /* border: 1px solid; */
    height: inherit;
    list-style-type: '✅';
    letter-spacing: 1px;
    text-transform: capitalize;
    /* padding-left: 15px */
    /* list-style-type:symbols(symbolic "&#9989","&#9989","&#9989","&#9989","&#9989","&#9989") */
}
.box2a-ulist li{
    color: #787778;
}
.box2a-ulist li+li{
    align-items: center;
    color: #787778;
}
.box2-b{
    /* border: 1px solid yellow; */
    height: inherit;
    width: 55%;
    /* padding: 1%; */
    font-family: sans-serif;
}
.box2b-h2{
    /* border: 1px solid; */
    height: 20%;
    padding: 5% 0% 1% 0%;
    letter-spacing: 1px;
    font-weight: lighter;
}
.box2b-p{
    height: 60%;
    padding: 1% 0% 1% 0%;
    /* margin-top: 7%; */
    color: #787778;
    /* border: 1px solid; */
    /* letter-spacing: 1px; */
    line-height: 165%;
}
.box2b-a{
    height: 20%;
    /* margin-top: 6%; */
    /* border: 1px solid; */
    padding: 5% 0% 1% 0%;
}
.box2b-a a{
    text-decoration: none;
    color: #9953FF;
    font-weight: bolder;
}
.box2b-a a:hover{
    color: black;
}
